.greetings {
  background-color: #F5F5F5;
  padding-bottom: 50px;
  width: 100%;
}

.greetings h3 {
  color: #424242;
}

.greetings h1 {
  color: #424242;
}

.greetings {
  color: #A8AEAF;
  font-size: 17px;
}


.greetings i {
  color: #0080F6;
}
