.statistics {
  background-color: #E8E8E8;
  padding-top: 15px;
  padding-bottom: 40px;
}

.statistics:before {
  display: inline-block;
  height: 100%;  
}

.statistics {
  color: #A2A7A8;
  font-size: 1em;
}

.statistics h1 {
  font-size: 2em;
  color: #424242;
}

.poll-col {
  font-size: 15em;
  padding-top: 0.1em;
  color: #424242;
}

.poll-text {
  padding-top: 5vw;
}
