.statistics {
  background-color: #E8E8E8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.big-icon {
  font-size: 200px;
  color: #424242;
}

.statistics {
  color: #A2A7A8;
  font-size: 17px;
}

.statistics h1 {
  color: #424242;
}
